.FormRow{
    margin-top: 15px!important;
}

.Label{
    color:black!important;
    cursor: help!important;
    font-weight: bold!important;
    background-color: rgba(255,255,255,0.1)!important;
}

.DisabledLabel {
    opacity: 0.9!important;
    font-weight: bold!important;
    background-color: rgba(255,255,255,0.2)!important;
    color:lightgray!important;
}

.Input{
    color:black!important;
    background-color: rgba(255,255,255,0.3)!important;
}

.DisabledInput{
    opacity: 0.4!important;
    background-color: rgba(255,255,255,0.2)!important;
    color:gray!important;
}