.FormRow{
    margin-top: 15px!important;
}

.InputLabel{
    font-weight: bold;
    background-color: rgba(255,255,255,0.3)!important;
}

.Input{
    background-color: rgba(255,255,255,0.5)!important;
}

.CheckedButton{
    color:black;
    background-color: rgba(255,255,255,0.7)!important;
}

.UnCheckedButton{
    color: white;
    background-color: rgba(255,255,255,0.1)!important;
}