.Container {    
    margin-top: 5px;
}

.GAStatus {
    line-height: 15px;
}

.GAName {
    font-size: 20px;
    font-weight: bold;
}

.GAStatusDetails {
    margin-left: 15px;    
}

.GAStatusDetails p {
    margin-bottom: 8px;
}

.MenuGABtn {    
    display: flex!important;
    justify-content: center!important;
    align-items: center!important;
    border-radius: 50% !important;
    padding: 0!important;
    margin-left: 5px;
    height: 30px;
    width: 30px;
}