.FitnessSelectContainer {
    margin: 20px;
}

.BtnRnd {
    display: flex!important;
    justify-content: center!important;
    align-items: center!important;
    border-radius: 50% !important;
    padding: 0!important;
}

.AddFitnessBtn {
    height: 50px;
    width: 50px;    
}


