.FitnessSelectContainer {
    padding-top: 3px;
}

.FitnessListContainer {
    padding: 15px;
    border-radius: 5px;
    align-content: center;
    border: 1px solid lightgray;
}

.BtnRnd {
    display: flex!important;
    justify-content: center!important;
    align-items: center!important;
    border-radius: 50% !important;
    padding: 0!important;
}

.AddFitnessBtn {
    height: 50px;
    width: 50px;    
}


